/* day 2 step 4 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f3f3f3;
}

.header {
  background: #131921;
  color: white;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  font-size: 24px;
}

.header p {
  font-size: 14px;
  color: #ccc;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 24px;
}

.product-card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: box-shadow 0.2s;
}

.product-card:hover {
  box-shadow: 0 4px 16px rgba(0,0,0,0.18);
}

.product-image-wrapper {
  width: 100%;
  height: 180px;
  overflow: hidden;
  background: #f9f9f9;
}

.product-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info {
  padding: 12px;
}

.category {
  font-size: 11px;
  color: #888;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.product-info h3 {
  font-size: 14px;
  margin: 6px 0 8px;
  color: #111;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #B12704;
  margin-bottom: 4px;
}

.rating {
  font-size: 13px;
  color: #555;
}
/* day 2 step 4 */

/* day 3 step 3 */
.search-bar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-bar input {
  padding: 8px 14px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  width: 280px;
  outline: none;
}

.search-bar button {
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
}

.search-bar button:hover {
  background: rgba(255,255,255,0.15);
}

.no-results {
  text-align: center;
  padding: 60px 0;
  color: #888;
  font-size: 16px;
  grid-column: 1 / -1;
}
/* day 3 step 3 */


/* day 4 step 3 */

.cart-count {
  font-size: 14px;
  font-weight: bold;
  color: white;
  background: #103544;
  padding: 6px 16px;
  border-radius: 4px;
  white-space: nowrap;
  letter-spacing: 0.3px;
  border: none;
}

.add-to-cart-btn {
  margin-top: 10px;
  width: 100%;
  padding: 8px 0;
  background: #febd69;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.add-to-cart-btn:hover {
  background: #f3a847;
}

/* day 4 step 3 */